
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">  
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    <script src="{% static '/js/script.js' %}"></script>
    {% block title %}
    
    {% endblock title %}
</head>
<body id="main-body">
    <header>
        <a href="/"><h1 class="logo">TodoList</h1></a>
        <ul class="navlinks">
            <a href="/"><li class="active">Лист задач</li></a>
            <a href="https://github.com/DaurenKz1/Exam_for_Django" target="_blank"><li>Проект</li></a>
            <a href="/admin/" target="_blank"><li>Админ</li></a>
            {% if request.session.username %}
            <a href="{% url 'logOut' %}"><li>Выйти</li></a>
            {% endif %}
        </ul>
        <div class="optionsicon">
            <a><img src="{% static '/images/crescent.png' %}" alt="Change Theme"></a>
            <a href="{% url 'profilePage' %}"><img src="{% static '/images/user (1).png' %}" alt="Change Theme"></a>
        </div>
    </header>
    {% block body %}
        
    {% endblock body %}
    
 <div class="footer">
      <div class="contain">
          <div class="col social">
        <h1>Главная</h1>
        <ul>
            <a href="/"><li class="active">Лист задач</li></a>
        </ul>
      </div>
      <div class="col">
        <h1>Компания</h1>
        <ul>
           <a href="https://github.com/DaurenKz1/Exam_for_Django" target="_blank"><li>Проект</li></a>
        </ul>
      </div>
      <div class="col">
        <h1>Поддержка</h1>
        <ul>
            <a href="/admin/" target="_blank"><li>Админ</li></a>
        </ul>
      </div>

    <div class="clearfix"></div>
    </div>
    </div>
</body>
</html>
