{% load static %}
{% include 'base.html' %}

{% block title %}
    <title>TodoList-ProfilePage</title>
{% endblock title %}

{% block body %}
    <section class="profilebox">
        <h1>Детали профиля</h1>
        <div class="profiledetails">
            <form action="/profilePage/" method="post">
                {% csrf_token %}
            <div class="profileimage">
                <img src="{% static details.profilePic  %}" alt="User Profile">
                <input type="file" name="photo" id="photo">
            </div>

            <label for="fullname">Полное имя</label>
            <input type="text" name="fullname" id="fullname" placeholder="Введите свое настоящее имя" value="{{ details.fullName }}">

            <label for="username">Имя пользователя</label>
            <input type="text" name="username" id="username" placeholder="Введите имя пользователя" value="{{ details.username }}" disabled>

            <label for="email">Почта</label>
            <input type="email" name="email" id="email" placeholder="Введите почту" value="{{ details.email }}" disabled>

            <label for="mobile">Номер телефона</label>
            <input type="tel" name="mobile" id="mobile" placeholder="Введите номер телефона" value="{{ details.mobileNumber }}">

            <label for="bio">Информация о себе</label>
            <textarea name="bio" id="bio" placeholder="Введите информацию о себе" >{{ details.bio }}</textarea>

            <input class="profbtn" type="submit" value="Сохранить изменения" />
        </form>
        </div>
    </section>
{% endblock body %}